extends layout

block content
  h1= title
  p Welcome to the #{title}
  a(href='/race') I want to race
  br
  p: b List of top accounts. The ones that are winning
  br
  table
    thead
      tr
        th Rank
        th Name
        th Account No
        th Amount
    tbody
      - var n = 0;
        for acc in accounts
          - n += 1;
          tr
            td= n 
            td= acc.name
            td= acc._id
            td= acc.amount
